name: On push

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - run: docker compose pull

    - run: docker compose -f docker-compose.test.yml build

    - run: docker compose -f docker-compose.test.yml run web sh -c 'rails db:setup && rails test'

  deploy_production:
    needs: test
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: docker/login-action@v3
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/${{ secrets.REGISTRY_REPO }}:latest
